body {
    background-color: orangered;
    padding-top: 100px;
    padding-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.6;
}

::placeholder {
    color: #0000ff;
}