
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: red;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(39, 216, 16, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(248, 248, 244);
   
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    display: inline-block;
    border: 1px solid green;
    border-radius: 5px;
}
button {
    width: 100%;
    background-color: rgb(63, 63, 231);
    color: yellow;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #6913eac1;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    text-decoration: none;
    color: rgb(248, 248, 244);
}
