header {
    background-color: white;
    padding: 20px;
    
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orangered;
    color: white;
    text-align: center;


}
h1 ,h2 {
    color: blue;
}
footer{
    text-align: centre;
    color:  rgb(0, 255, 13); 
    padding: 0.5px 0;
    margin-top: 0px;
    background-color: black
}

 h1.colorful-text {
    font-size: 30px;
    font-weight: bold;
    animation: colorChange 6s infinite;
  }

  @keyframes colorChange {
    0%   { color: blue;}
    25%  { color: orange; }
    50%  { color: black; }
    75%  { color: pink; } 
    100% { color: green; }
    
  }
