* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 226, 13);
    color: rgb(41, 41, 241);
}

header {
    background-color: blue;
    color: yellow;
    text-align: center;
    padding: 20px;
}

.parking-lot {
    padding: 20px;
    text-align: center;
}

.slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.slot {
    background-color: rgb(13, 219, 13);
    color: blue;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.slot:hover {
    transform: scale(1.1);
}

.slot.occupied {
    background-color: rgb(238, 27, 27);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: rgb(208, 114, 6);
    margin-top: 20px;
}